/* Reset some default styles */
body,
h1,
h2,
p,
ul {
  margin: 20px;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('cehennem-1.jpg'); /* Apply the background image */
  background-size: cover; /* Ensure the image covers the whole background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  color: #333;
}

.header-container,
.footer-container {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header {
  margin-bottom: 2rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.intro,
.qualities,
.testimonial,
.contact {
  margin-bottom: 2rem;
}

h1,
h2 {
  color: #0077cc;
}

ul {
  list-style: none;
  padding-left: 0;
}

.qualities-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.qualities-list {
  flex: 1;
}

li {
  background: #e3e3e3;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

strong {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.boss-image {
  flex: 0 0 150px;
}

.boss-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.testimonial-container {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

blockquote {
  margin: 0;
  padding: 1rem;
  background: #f9f9f9;
  border-left: 5px solid #0077cc;
}

cite {
  display: block;
  text-align: right;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-top: 1rem;
  font-weight: bold;
}

.contact input,
.contact textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.contact input[type='submit'] {
  margin-top: 1rem;
  background-color: #0077cc;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact input[type='submit']:hover {
  background-color: #005fa3;
}

footer {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
